body {
    background-color: #343A40 !important;
}

button, .nav-item {
    cursor: pointer;
}

#profile-page-image {
    width: 250px;
    height: 250px;
    position: absolute;
    left:50%;
    top: 170px;
    border: 6px solid #fff;
    transform: translateX(-50%);
}

#profile-page-title {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 90px;
    left:0;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.profile-page-card-title {
    color:#fff;
    text-shadow: 1px 1px #000;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 10px;
    font-size: 60px;
}

.list-group{
    margin: 0 10px;
}
.list-title {
    width: 100%;
}
.list-title>span {
    float:right;
    font-size: 12px;
    color: #666;
    line-height: 25px;
}

.list-text {
    color: #444;
}
